<a href="https://colab.research.google.com/github/unitinguncle/PythonPrograms/blob/main/Copy_of_Python_Take_Home_Day02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Problems**

## **Problem 01**

### **Figures to Words (Western Style)**

Write a function to convert figures to words in Western Number System using Dictionary:

1367 -> "One thousand three hundred and sixty seven"

18934345 -> "Eighteen million nine hundred and thirty four thousand three hundred and forty five"

**Note:** You can assume that the numbers are below 1 trillion

In [45]:
tens={2:"twenty", 3:"thirty", 4:"forty", 5:"fifty", 6:"sixty", 7:"seventy", 8:"eighty", 9:"ninty"}
ones={0:"", 1:" one", 2:" two", 3:" three", 4:" four", 5:" five", 6:" six", 7:" seven", 8:" eight", 9:" nine"}
twenty={10:"ten", 11:"eleven", 12:"twelve", 13:"thirteen", 14:"forteen", 15:"fifteen", 16:"sixteen", 17:"seventeen", 18:"eighteen", 19:"ninteen"}
places=("", " thousand", " million", " billion", " trillion")

In [55]:
def digits3(num:str, ctr:int) -> str:
  word=""
  num = int(num)
  if (num//100) != 0:
    digit = ones[num//100]
    if(ctr == 1):
      word =word + digit + " hundred and "
    else:
      word =word + digit + " hundred "
  num %= 100
  if (num<10):
    word = word + ones[num%10]
  elif (num<20):
    word += twenty[num]
  else:
    word += tens[num//10] + ones[num%10]
  return word

In [74]:
def figures2words(n: int) -> str:
    ## Write Code Here
    n = str(n)
    ctr =0
    inwords = ''
    while(n!=''):
      last3 = n[-3:]
      n=n[:-3]
      inwords = places[ctr] + inwords
      ctr += 1
      word = digits3(last3, ctr)
      inwords = word + inwords
    return (inwords.strip()).capitalize()

figures2words(18934345)

'Eighteen million nine hundred thirty four thousand three hundred and forty five'

## **Problem 02**

### **Roman to Arabic and Arabic to Roman**

Implement two functions that converts roman number to arabic number and vice versa

Example:

 > roman2arabic("V") --> 5

 > arabic2roman(9) --> "IX"

In [92]:
roman = {0:'', 1:'I', 2:'II', 3:'III', 4:'IV', 5:'V', 6:'VI',7:'VII', 8:'VIII', 9:'IX'}
romanTens = {0:'', 1:'X', 2:'XX', 3:'XXX',4:'XL', 5:'L', 6:'LX', 7:'LXX', 8:'LXXX', 9: 'XC'}
romanTho = {0:'', 1:'C', 2:'CC', 3:'CCC', 4:'CD', 5:'D', 6:'DC', 7:'DCC', 8:'DCCC', 9:'CM', 10:'M'}

In [ ]:
def nestedA2R(num:int) -> str:
  rstr=''
  if(num<10):
    rstr = roman[num]

In [97]:
def roman2arabic(roman_number: str) -> int:
    ## Write Code Here

    return ...

def arabic2roman(arabic_number: int) -> str:
    ## Write Code Here
    roman_str = ''
    if(arabic_number < 10):
      roman_str = roman[arabic_number]
    elif(arabic_number < 100):
      roman_str = romanTens[arabic_number//10] + roman[arabic_number%10]
    elif(arabic_number < 1000):
      roman_str = romanTho[arabic_number//100] + romanTens[(arabic_number%100)//10] + roman[arabic_number%10]
    elif(arabic_number==1000):
      roman_str = romanTho[10]
    else:
      return "Out of range"
    return roman_str

print(roman2arabic("V"))
print(arabic2roman(100))

Ellipsis
C